<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Detail page</title>
    <link rel="stylesheet" href="/staffDetail.css">
</head>
<body>
    <h1 class="semHead">Details of --------===..----<span> <%= result[0].type %></span> Staff</h1>
    <div class="content">
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Email</th>
                <th class="edit">Edit - Staff</th>
            </tr>
                <% for( let index = 0; index < result.length; index++ ) { %>
                    <tr>
                        <td><%- result[index].name %></td>
                        <td><%- result[index].id %></td>
                        <td><%- result[index].password %></td>
                        <td><%- result[index].phone %></td>
                        <td><%- result[index].email %></td>
                        <td class="edit">
                            <a href="/admin/view-staff?id=<%- result[index].id %>" class="view">View</a>
                            <a href="/admin/update-staff?id=<%- result[index].id %>" class="update">Update</a>
                            <a href="/admin/delete-staff?id=<%- result[index].id %>" class="delete">Delete</a>
                        </td>
                    </tr>
                <% } %>
        </table>
    </div>
</body>
</html>