<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regester</title>
    <link rel="stylesheet" href="/regester.css">
</head>
<body>
    <div class="main">
        <div class="form">
            <h1 class="Addstd">Update Student</h1>
            <form method="post" id="myform">
                <div class="stdName">
                    <label for="name">Student Name :</label>
                    <input type="text" name="name" id="name" value="<%= result[0].name %>" required>
                </div>
                <div class="stdPassword">
                    <label for="password">Password :</label>
                    <input type="password" name="password" id="password" value="<%= result[0].password %>" required>
                </div>
                <div class="stdUsn">
                    <label for="usn">USN :</label>
                    <input type="text" name="usn" id="usn" value="<%= result[0].usn %>" required>
                </div>
                <div class="stdSem">
                    <label for="sem">Sem :</label>
                    <input type="number" name="sem" id="sem" value="<%= result[0].sem %>" required>
                </div>
                <div class="stdEmail">
                    <label for="email">Email id :</label>
                    <input type="email" name="email" id="email" value="<%= result[0].email %>" required>
                </div>
                <div class="stdPhone">
                    <label for="phone">Phone no :</label>
                    <input type="number" name="phone" id="phone" value="<%= result[0].phone %>" required>
                </div>
            </form>
            <div class="button">
                <button type="submit" form="myform">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>