<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/viewStaff-class.css">
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <div class="round"><%= adminName[0] %></div>
                <div class="text">Well come <br><%= adminDept %> / Admin : <%= adminName %></div>
            </div>
            <a href="/logout" class="button">Logout</a>
        </nav>
        <div class="content">
            <div class="heading">
                <h2><%= result[0].subname %> - Completed class`s</h2>
            </div>
            <div class="contentBox">
                <div class="classes">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Attendence</th>
                        </tr>
                        <% for( let index = 0; index < ress.length; index++ ) { %>
                            <% var data = JSON.parse(JSON.stringify(ress[index].attend)) %>
                            <% var mainData= JSON.parse(data) %>
                            <tr>
                                <td><%= mainData["date"] %></td>
                                <td><%= mainData["time"] %></td>
                                <td class="view"><a href="/admin/view-staff/class/info?sub=<%= result[0].subcode %>&date=<%= mainData["date"] %>&time=<%= mainData["time"] %>"</a>View</a></td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>