<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/viewStd-main.css">
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <div class="round"><%= adminName[0] %></div>
                <div class="text">Well come <br><%= adminDept %> / Admin : <%= adminName %></div>
            </div>
            <a href="/logout" class="button">Logout</a>
        </nav>
        <div class="content">
            <div class="heading">
                <h2>Subjects for - <%= result[0].name %></h2>
            </div>
            <div class="subjects">
                <table>
                    <tr>
                        <th>Lecture</th>
                        <th>Sub-name</th>
                        <th>Sub-code</th>
                        <th>Attendence</th>
                    </tr>
                    <% for( let index = 0; index < rest.length; index++ ) { %>
                            <tr>
                                <td><%= rest[index].lecture %></td>
                                <td><%= rest[index].subname %></td>
                                <td><%= rest[index].subcode %></td>
                                <td class="go"><a href="/admin/view-student/attendence?usn=<%= result[0].usn %>&subcode=<%= rest[index].subcode %>" >View</a></td>
                            </tr>
                    <% } %>
                </table>
                
            </div>
        </div>
    </div>
</body>
</html>