<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/staffPage.css">
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <div class="round"><%= result[0].name[0] %></div>
                <div class="text">WelCome <br><%= result[0].dept %> / Staff : <%= result[0].name %></div>
            </div>
            <a href="/logout" class="button">Logout</a>
        </nav>
        <div class="content">
            <div class="heading">
                <h2>CLASSES  FOR  YOU</h2>
                <h3>
                    <pre>
                        Lecture name  :  <b><%= result[0].name %></b>
                        Lecture ID       :  <b><%= result[0].id %></b>
                        lecture type     :  <b><%= result[0].type %></b>
                    </pre>
                </h3>
            </div>
            <div class="subjects">
                <table>
                    <tr>
                        <th>Sem</th>
                        <th>Sub-name</th>
                        <th>Sub-code</th>
                        <th>Take class</th>
                    </tr>
                    <% for( let index = 0; index < rest.length; index++ ) { %>
                            <tr>
                                <td><%= rest[index].sem %></td>
                                <td><%= rest[index].subname %></td>
                                <td><%= rest[index].subcode %></td>
                                <td class="go"><a href="/staff/class?id=<%= result[0].id %>&subcode=<%= rest[index].subcode %>" >Go...</a></td>
                            </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</body>
</html>